@use '../abstracts/typography' as *;

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

h1 {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

// .container {
//     @include themify($themes) {
//         background-color: themed('background');
//     }
// }