@use '../abstracts/breakpoints' as *;
@use '../abstracts/theme' as *;

.todo-form {
    min-height: 3rem;
    margin-bottom: 1rem;
    border-radius: .4rem;

    @include themify($themes) {
        background-color: themed('bgContainer');
    }

    form {
        display: flex;
        min-height: 3rem;
        width: 100%;

        .formGroup {
            display: flex;
            flex-grow: 1;
            align-items: center;

            &_checkbox {
                margin-inline: 1rem;
                min-width: 1.25rem;
                width: 5%;
                aspect-ratio: 1;
                border-radius: 50%;

                @include themify($themes) {
                    border: themed('border')
                }

                &-active {
                    background-color: red;
                }

                &-complete {
                    background-color: blue;
                }
            }

            [type="checkbox"] {
                appearance: none;
            }

            [type="text"]::placeholder,
            [type="text"] {
                height: 100%;
                border: none;
                display: flex;
                flex-grow: 1;
                border-radius: .4rem;

                @include themify($themes) {
                    color: themed('text');
                    background-color: themed('bgContainer');
                }
            }
        }
    }
}

.content {
    @include desktop {
        width: 100%;
        display: grid;
        grid-template-rows: auto max-content;
        grid-template-columns: repeat(3, max-content);
    }

    .todos {

        &_list {
            @include desktop {
                grid-row: 1/2;
                grid-column: 1/5;
            }

            .todoItem {
                display: flex;
                min-height: 3rem;
                align-items: center;

                @include themify($themes) {
                    border-bottom: thin solid themed('borderBottom');
                }

                @include themify($themes) {
                    background-color: themed('bgContainer');
                }

                &_label {
                    margin-inline: 1rem;
                    min-width: 1.5rem;
                    width: 5%;
                    aspect-ratio: 1;
                    border-radius: 50%;

                    @include themify($themes) {
                        border: themed('border')
                    }
                }

                [type="checkbox"] {
                    appearance: none;
                }

                p {
                    @include themify($themes) {
                        color: themed('text');
                    }

                }

                button {
                    margin-inline: auto 1rem;
                    background-color: transparent;
                    border: none;

                    @include themify($themes) {
                        color: themed('text');
                    }
                }
            }
        }

        &_ui {
            background-color: blue;
            display: flex;
            justify-content: space-between;

            .mobile-btn {
                @include desktop {
                    display: none;
                }
            }
        }
    }

    &_radioGroup {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;

        @include desktop {
            grid-column: 2/4;
        }

        div {
            .checked {
                color: blue;
            }
        }

        div>input {
            appearance: none;
        }
    }

    .desktop-btn {
        display: none;

        @include desktop {
            display: block;
            grid-column: 4/5;
        }
    }
}

.todo {
    display: flex;

    >* {
        margin-inline-start: .5rem;
    }

    button {
        margin-left: auto;
        margin-right: .5rem;
        background-color: transparent;
        border: none;

    }
}

.checkbox {

    &-lightactive {
        // @include themify($themes) {
        //     border: thin solid themed('border');
        //     background: themed('borderBg')
        // }
        background: linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        border: none;
        position: relative;
    }

    &-lightactive:after {
        content: '';
        position: absolute;
        width: 90%;
        border-radius: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        aspect-ratio: 1;
        background-color: white;

    }

    &-complete {
        background: center url('images/icon-check.svg') no-repeat, linear-gradient(120deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        border: none;
    }
}