@use '../abstracts/breakpoints' as *;

.headerUser {
    width: 90%;
    margin-top: 1rem;

    @include desktop {
        position: absolute;
        top: 0;
        right: 0;
        width: unset;
    }

    ul {
        display: flex;
        justify-content: space-between;

        @include desktop {
            display: block;
        }

        li {
            @include desktop {
                margin-right: 1rem;
            }
        }
    }
}