@use '../abstracts/theme' as *;
@use '../abstracts/typography' as *;
@use '../abstracts/breakpoints' as *;

.form {
    width: 100%;
    display: flex;
    margin-block-start: 3rem;

    * {
        width: 100%;
    }

    input {
        padding-inline-start: 5%;
        padding-block: 4%;
        border-radius: .4rem;
        border: none;
        margin-bottom: 1rem;

        @include themify($themes) {
            box-shadow: 0px 10px 25px themed('shadow');
        }

    }

    input,
    button {
        @include themify($themes) {
            background-color: themed('bgContainer');
        }
    }

    input::placeholder,
    input {
        @include themify($themes) {
            color: themed('text');
        }

        @include desktop {
            font-size: clamp(1rem, 0.7778rem + 0.7407vw, 2rem);
        }
    }

    button {
        @include themify($themes) {
            color: themed('btnText');
            box-shadow: 0px 10px 25px themed('shadow');
        }

        cursor: pointer;
        border-radius: .4rem;
        border: none;
        margin-top: 1.5rem;
        padding-block: 4%;
        font-weight: 700;

        @include desktop {
            font-size: clamp(1rem, 0.7778rem + 0.7407vw, 2rem);
        }
    }
}