@use '../abstracts/theme' as *;
@use '../abstracts/breakpoints' as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 3rem;

    @include desktop {
        width: 40%;
        min-width: 23.5rem;
    }

}